* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #44ff99;
}

.navegacao {
    background-color: #77ff21;
}

.secao {
    background-color: #77ffdd;
}

.rodape {
    background-color: #77ffee;
}

.footer {
    background-color: #123eee;
}